.function-btn-wrap {
  margin-bottom: 2rem;
  // display: flex;

  .row {
    display: flex;
    align-items: center;

    .col {
      margin-top: 1rem;
      @media (max-width: 576px) {
        & {
          padding: 0 3rem;
        }
      }
    }

    button {
      font-size: 1.6rem;
      padding: 0.8rem 1.2rem;
      color: #fff;
      font-weight: 600;
      border: none;

      @media (min-width: 576px) and (max-width: 768px) {
        padding: 0.8rem 0.5rem;
      }

      i {
        margin: 0.5rem;
      }
    }

    button.add-new-todo-btn {
      background-color: #25aa5a;
    }
    button[type="submit"] {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      min-width: 8rem;
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }

    .sort-todos-form,
    .filter-todos-form {
      display: flex;
      flex-direction: row;
      margin-right: 3rem;
      width: 100%;

      .sort-todos-wrap,
      .filter-todos-wrap {
        font-size: 1.4rem;

        option[default] {
          display: none;
        }
      }
      // end of .sort-todos-wrap
    }

    .search-form {
      display: flex;

      input {
        font-size: 1.4rem;
        padding: 0 2rem;
      }
    }

    input,
    select {
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
    }

    .button-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  // .row:nth-child(2) {

  // }
  // end of .row1, .row2
}
// end of .function-btn-wrap
