.function-btn-wrap {
  margin-bottom: 2rem;
  // display: flex;

  .row {
    display: flex;

    .col {
      @media (max-width: 576px) {
        & {
          padding: 0 3rem;
        }
      }
    }

    button {
      vertical-align: middle;
      font-size: 1.6rem;
      padding: 0.4rem 1.2rem;

      i {
        margin: 0.5rem;
      }
    }

    .sort-todos-form,
    .filter-todos-form {
      display: flex;
      flex-direction: row;
      margin-right: 3rem;
      width: 100%;

      .sort-todos-wrap,
      .filter-todos-wrap {
        font-size: 1.4rem;

        option[default] {
          display: none;
        }
      }
      // end of .sort-todos-wrap
    }

    .search-form {
      display: flex;

      input {
        font-size: 1.4rem;
        padding: 0 2rem;
      }
    }

    .button-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .toggle-theme {
        position: relative;
        width: 5rem;
        height: 3rem;

        $height: 3rem;
        border-radius: 10rem;

        cursor: pointer;
        box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
        // inset 0 0 0.5rem rgba(255, 255, 255, 0.3);
        .circle {
          position: absolute;
          left: 0;
          transform: translateX(0);

          transition: 0.5s;

          height: 3rem;
          width: 3rem;

          border: 0.1rem solid #999;
          box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5);
          border-radius: 50%;

          user-select: none;

          &.active {
            // transform: translateX(50%);
            left: 40%;
          }
        }
      }
    }
  }

  // end of .row1, .row2
}
// end of .function-btn-wrap
