.todo-list {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  background-color: #fff;

  * {
    text-align: center;
  }

  table {
    border-collapse: collapse;

    th {
      padding: 1rem;
      font-weight: 700;
    }

    tr td:nth-child(2),
    tr td:nth-child(3) {
      text-align: left;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .action-wrap {
    button {
      padding: 0.5rem 1.8rem;
      margin: 0.8rem auto;
      border-radius: 1rem;
      text-transform: uppercase;

      cursor: pointer;
      font-size: 1.1rem;
      font-weight: 700;
      color: #fff;

      &:first-child {
        background-color: #d7b439;
      }

      &:last-child {
        background-color: #a92525;
      }
    }
    button + button {
      margin-left: 1rem;
    }
  }
}

.level-box {
  position: relative;

  .change-level {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;

    display: flex;
    flex-direction: column;

    span {
      cursor: pointer;
      background-color: #fff;
      border: 1px solid;
      opacity: 0.5;

      width: 1.6rem;
      height: 1.2rem;
      line-height: 1.2rem;
      font-size: 1rem;

      &:hover {
        opacity: 0.8;
      }
    }

    span + span {
      margin-top: 0.2rem;
    }
  }
}
