@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

button {
  border: none;
}

.app {
  .app-title {
    margin: 5rem auto 3rem;
    font-size: 3rem;
    font-weight: 700;

    text-transform: uppercase;
    text-align: center;
  }

  .app-content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: top;

    .todo-wrap {
      margin-left: 3rem;

      .home-btn-wrap {
        margin-bottom: 2rem;
        display: flex;

        button.add-new-todo-btn {
          margin-right: 1rem;
          cursor: pointer;
          border-radius: 0.5rem;

          font-size: 1.3rem;
          font-weight: 600;
          color: #fff;

          background-color: #2572a9;
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
          padding: 0.8rem 3.5rem;
          text-transform: uppercase;
        }

        form.sort-todos-form {
          display: flex;

          .sort-todos-wrap {
            background-color: #2572a9;
            border: none;
            outline: none;
            border-radius: 0.5rem;

            color: #fff;
            padding: 0 1.2rem;

            option {
              background-color: #fff;
              color: #000;
            }
            option[default] {
              display: none;
            }
          }
        }
      }
    }
  }
}
