@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");

button {
  border: none;

  &:hover {
    filter: brightness(1.1);
  }
}

.app {
  min-height: 100vh;
  user-select: none;

  .app-title {
    padding-top: 5rem;
    margin-bottom: 3rem;
    font-size: 5rem;
    font-weight: 700;

    // text-transform: uppercase;
    text-align: center;
  }

  .app-content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: top;

    .todo-wrap {
      width: 100%;
    }
    // end of todo-wrap
  }
  // end of .app-content
}
