@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

button {
  border: none;

  &:hover {
    filter: brightness(1.1);
  }
}

.app {
  .app-title {
    margin: 5rem auto 3rem;
    font-size: 3rem;
    font-weight: 700;

    text-transform: uppercase;
    text-align: center;
  }

  .app-content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: top;

    .todo-wrap {
      margin-left: 3rem;
    }
    // end of todo-wrap
  }
  // end of .app-content
}
